// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.logo{
    height: 60px;
}

.restaurant-container{
  
    .card {
        --main-color: #000;
        --submain-color: #78858F;
        --bg-color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background: var(--bg-color);
      }

      .card__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .card-image{
        position: relative;
        height: 700px;
      }

      .image-owner{
        background-color: rgba(black, 0.4);
        height: 100%;
      }

      .card__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .card__subtitle {
        margin-top: 10px;
        font-weight: 400;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
        position: absolute;
        font-size: 15px;
        color: var(--submain-color);
      }

      .button-detail{
        left: 55%;
        top: 55%;
        transform: translate(-15%,90%);
        position: absolute;
      }

      .button-add{
        left: 45%;
        top: 55%;
        transform: translate(-90%,90%);
        position: absolute;
      }


      @media (min-width: 767px) {
        .button-add{
          transform: translate(-75%,90%);
        }
        .button-detail{
          transform: translate(-25%,90%);
        }
        .card__title{
          font-size: 2.8rem;
        }
      }

      @media (min-width: 1200px) {
        .button-add{
          transform: translate(-55%,90%);
        }
        .button-detail{
          transform: translate(-40%,90%);
        }
      }

      .layer-black{
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .card__btn {
        margin-top: 15px;
        width: 130px;
        height: 31px;
        border: 2px solid black;
        border-radius: 4px;
        font-weight: 700;
        font-size: 11px;
        color: black;
        background: white;
        text-transform: uppercase;
        transition: all 0.3s;
      }

      .card__btn-solid {
        background: black;
        color: white;
      }

      .card__btn:hover {
        background: black;
        color: white;
      }

      .card__btn-solid:hover {
        background: white;
        color: black;
      }

      .card__btn:hover .onhover {
        color:white!important;
        }
}


.create-container{

  input,textarea{
    background-color: white;
    border: 4px solid black;
    border-radius: 0.5rem;
    padding: 0.85rem;
    transition: all 0.3s;
    &:focus{
      color: white;
      background-color: rgb(206, 201, 201);
    }
  }

    background-image: url("../../public/img/image-form.jpg");
    background-size: cover;

  .logo-size-form{
    height: 100px;
    filter: invert(1);
  }

  .bg-form{
    background-color:rgba(0, 0, 0, 0.5);
  }

  .card__btn {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    border: 4px solid black;
    border-radius: 4px;
    font-weight: 700;
    color: black;
    background: white;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .card__btn-solid {
    background: black;
    color: white;
  }

  .card__btn:hover {
    background: black;
    color: white;
  }

  .card__btn-solid:hover {
    background: white;
    color: black;
  }

  .card__btn:hover .onhover {
    color:white!important;
    }
}


.edit-container{

  input,textarea{
    background-color: white;
    border: 4px solid black;
    border-radius: 0.5rem;
    padding: 0.85rem;
    transition: all 0.3s;
    &:focus{
      color: black;
      background-color: rgb(206, 201, 201);
    }
  }

    background-image: url("../../public/img/image-form.jpg");
    background-size: cover;

  .logo-size-form{
    height: 100px;
    filter: invert(1);
  }

  .bg-form{
    background-color:rgba(0, 0, 0, 0.5);
  }

  .card__btn {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    border: 4px solid black;
    border-radius: 4px;
    font-weight: 700;
    color: black;
    background: white;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .card__btn-solid {
    background: black;
    color: white;
  }

  .card__btn:hover {
    background: black;
    color: white;
  }

  .card__btn-solid:hover {
    background: white;
    color: black;
  }

  .card__btn:hover .onhover {
    color:white!important;
    }
}
